
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #66b5e2, #c3d9e6);
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    color: #ffffff;
}

form {
    width: 310px;
    height: 305px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    background-color: #c3d9e6;

}

input::after {
    border: none;
}

input[type="submit"] {
    background-color: #66b5e2;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: rgb(68, 139, 180);
}

input[type="checkbox"] {
    float: right;
    font-size: 95px;
    border: none;
}

input[value="LOG IN"] {
    font-size: 14px;
    font-weight: 600;
}

input[type="text"] {
    height: 38px;
}

input[type="password"] {
    height: 38px;
}

#showpass {
    font-size: 10px;
}

a {
    margin-top: 2px;
    float: right;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

#showpass {
   float: left;
}